

body {
  background-color: green;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}


h1 {
  font-size: center;
  line-height: 1.1;
  font-size: 2rem;
  
}

button {
  margin: 50px 0;
  padding: 10px 20px;
  font-size: 10px;
  cursor: pointer;
  margin-top: 1px;
  margin-left: 0px;
  border-radius: 8px;
  background-color: black;
  border-color: yellow;
  color: yellow;
  width: 30%;
}
.app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;

}
#contenedorDados{
  display: flex;
  gap: 15px;
  margin-top: 20px;
  margin-left: 0px;
}

.dados{
  display: flex;
  gap: 20px;
  
  
}

/*dado individual*/
.dado{
  width: min(14vw, 60px);
  height: min(14vw,60px);
  font-size: 1.2rem;
  background-color: white;
  color: black;
  border-radius: 10px;
  border: solid black 2px; 
  
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;

  font-size: 28px;
  font-weight: 0;

}
.dado.guardado{
  border: 3px solid red;
}



